/* GENERAL */

/* FONTS */

/* DARK AND LIGHT */


/* HEADER */































/* CONTENT */
.page {
  margin: 0px 8vw 50px 8vw;
}

.page-title,
.page-subtitle {
  text-align: center;
}

.page-title {
  font-size: calc(2vw + 20px);
}

.page-subtitle {
  font-size: calc(1.2vw + 20px);
}

.borders {
  border: 1px solid var(--dark-text);
  border-radius: 20px;
}

/* FOOTER */
footer {
  font-size: calc(0.5vw + 20px);
  position: fixed;
  bottom: 26px;
  right: 32px;
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  #nav-links {
    flex-direction: row;
  }

  #nav-links a {
    display: inline;
  }

  .page {
    margin: 0px 11vw 50px 11vw;
  }
}

/* DESKTOPS */
@media (min-width: 924px) {
  .page {
    margin: 0px 14vw 50px 14vw;
  }
}
